{% extends "base.html" %}
 
 {% block title %} {{user.username}} {% endblock %}
 
{% block extra-head %} 
  {% load static %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content  %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Centro Mail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "jocs:index"%}">Inici</a></li>
            {% if user.usuari.admin %}<li><a href="{% url "usuaris:crear_admin" %}"> Crear Admin </a></li>{% endif %}
            {% if user.usuari.admin %}<li><a href="{% url "jocs:fer_backups" %}"> BACKUP </a></li>{% endif %}
            {% if user.usuari.admin %}<li><a href="{% url "jocs:crear_joc" %}"> Crear Joc </a></li>{% endif %}
            <li class="margentop">
            <!--<div class=" input-group input-header">--> 
            <!--formulari - METHOD:GET --> 
                <form action="{% url "jocs:search" %}" method="get" > 
                    <div class=" input-group-btn">
                        <span class=".glyphicon .glyphicon-search"></span>
                        <input type="text" id="input-titol" name="q" class="form-control" placeholder="Que busques?" aria-label="...">
                    </div>
                </form>
            <!--Missatge errors -->                 
                 {% if field.errors %}		        	
        	     <div class="alert alert-danger">
        	        <button type="button" class="close" data-dismiss="alert">&times;</button>
        	        <ul>
        	          {% for error in field.errors%}
        	              <li>{{ error }}</li>
        		      {% endfor %}
                    </ul>
             	</div>
            {% endif %}
            <!--</div>--> 
            </li>
         </ul>
        <!--comprovem autenticació usuari-->
           {% if user.is_authenticated %}
            <!--<div id="user">-->
                <ul class="nav navbar-nav navbar-right">
                      <!--<div class="btn-group">-->
                        <li class="btn">
                            <p><span class="glyphicon glyphicon-piggy-bank"></span> {{user.usuari.monedes}}</p>
                        </li>
                        <div type="button" class="btn dropdown-toggle"data-toggle="dropdown"><p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user}}</p> </div>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url "usuaris:menu_usuari" %}">Carritu <span class="glyphicon glyphicon-shopping-cart"></li>
                          <li><a href="{% url "usuaris:biblioteca" %}">Biblioteca</a></li>
                          <li><a href="{% url "usuaris:modificar_perfil" %}">Modificar perfil</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url "usuaris:logout" %}">Logout</a></li>
                        </ul>
                      <!--</div>-->
                </ul>
          <!--</div>-->
            {% else %}
            <div id="user">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "usuaris:login" %}"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
            {% endif %}
         </div><!--/.nav-collapse -->
        </div> 
     </nav>
    <div id="contingut">
        <center><h3 style="color:white;">Biblioteca</h3></center>
        <div class="page-header items">
          <!--cercador -->
        
        {% for comprat in biblio %}
                 <div class="item" data-usuari="nose"> 
                      <a href="{% url "usuaris:jugar" comprat.joc.pk %}"><img src="{%if comprat.joc.imatge %}{{comprat.joc.imatge.url}}{% endif%}"  class="img-responsive hq" ></a>
                      {% if comprat.completat %}<div class="estrella"><small><span class="glyphicon glyphicon-star" title="Completat" ></span></small></div>{% endif %}
                      <!--<div class="titol" id="titol1"><h4> Jugar! </h4></div> -->
                </div>
                
              {% endfor %}
          </div>
         </div>
    </div>

{% endblock %}
