{% extends "base.html" %}
 
 {% block title %} {{user.username}} {% endblock %}
 
{% block extra-head %} 
  {% load static %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content  %}

    <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Centro Mail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "jocs:index"%}">Inici</a></li>
            {% if user.usuari.admin %}<li><a href="{% url "usuaris:crear_admin" %}"> Crear Admin </a></li>{% endif %}
            {% if user.usuari.admin %}<li><a href="{% url "jocs:fer_backups" %}"> BACKUP </a></li>{% endif %}
            {% if user.usuari.admin %}<li><a href="{% url "jocs:crear_joc" %}"> Crear Joc </a></li>{% endif %}
            <li class="margentop">
            <!--<div class=" input-group input-header">--> 
            <!--formulari - METHOD:GET --> 
                <form action="{% url "jocs:search" %}" method="get" > 
                    <div class=" input-group-btn">
                        <span class=".glyphicon .glyphicon-search"></span>
                        <input type="text" id="input-titol" name="q" class="form-control" placeholder="Que busques?" aria-label="...">
                    </div>
                </form>
            <!--Missatge errors -->                 
                 {% if field.errors %}		        	
        	     <div class="alert alert-danger">
        	        <button type="button" class="close" data-dismiss="alert">&times;</button>
        	        <ul>
        	          {% for error in field.errors%}
        	              <li>{{ error }}</li>
        		      {% endfor %}
                    </ul>
             	</div>
            {% endif %}
            <!--</div>--> 
            </li>
         </ul>
        <!--comprovem autenticació usuari-->
           {% if user.is_authenticated %}
            <!--<div id="user">-->
                <ul class="nav navbar-nav navbar-right">
                      <!--<div class="btn-group">-->
                        <li class="btn">
                            <p><span class="glyphicon glyphicon-piggy-bank"></span> {{user.usuari.monedes}}</p>
                        </li>
                        <div type="button" class="btn dropdown-toggle"data-toggle="dropdown"><p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user}}</p> </div>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url "usuaris:menu_usuari" %}">Carritu <span class="glyphicon glyphicon-shopping-cart"></li>
                          <li><a href="{% url "usuaris:biblioteca" %}">Biblioteca</a></li>
                          <li><a href="{% url "usuaris:modificar_perfil" %}">Modificar perfil</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url "usuaris:logout" %}">Logout</a></li>
                        </ul>
                      <!--</div>-->
                </ul>
          <!--</div>-->
            {% else %}
            <div id="user">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "usuaris:login" %}"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
            {% endif %}
         </div><!--/.nav-collapse -->
        </div> 
     </nav>
    <div class="contingut-usr">
      <div class="container-fluid">
        <div class="right"><a id="comprar" href='{% url "usuaris:view_that_asks_for_money" carritu.pk %}' class="list-group-item"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar carro: {{carritu.preu_total}} € / {{carritu.preuG_total}} G</a></div>
      </div>
              {% for jocs in comandes %}
                 <div class="container-fluid">
                    <div class="row"> <!-- Give this div your desired background color -->
                      <div class="container itemC">
                        <div class="remove"><a class="editting" href="{% url "usuaris:eliminar_comanda" jocs.pk %}"><small><span class="glyphicon glyphicon-remove" title="Esborrar disc" ></span></small></a></div>
                          <div class="row">
                              <div class="col-md-6 laimatge">
                                <center><a href="{% url "jocs:joc" jocs.joc.pk %}"><img src="{% if jocs.joc.imatge %}{{ jocs.joc.imatge.url }}{% endif%}" class="img-responsive" ></a></center> <!--anava aqui un hr -->
                              </div>
                              <div class="col-md-6 col-sm-6 text-top ">
                          <div class="row ">
                    
                          <div class="meitatGG espai">
                            <h5> Detalls: {{ jocs.joc.descripcio}} </h5>
                            
                                <div class="meitatG G espai">
                                    <center><h5> Preu G: {{ jocs.joc.preuG }} G</h5></center>
                                </div>
                                <div>
                                    <div class="meitatG sep P" id="preu1">
                                        <center><h5>Preu €: {{ jocs.joc.preuE }} € </h5></center>
                                    </div>
                                </div>
                          </div>
                        </div> 
                        </div>
                        <!--<div class="remove"><a class="editting" href="{% url "usuaris:eliminar_comanda" jocs.joc.pk %}"><small><span class="glyphicon glyphicon-remove" title="Esborrar joc" ></span></small></a></div>-->
                            </div>
                        </div>
                    </div>
                    
                </div>
                 {% endfor %} 

            </div>
    </div>

{% endblock %}


