canvas{
    margin:auto;
    border-radius:4px;
    margin-bottom: 20px;
}

body{
    background:#202020 !important;
}

#controls{
    color:white;
    margin:auto;
}

#try{
    margin:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    margin-top:10px;
}
.flecha-left{
    width:0px;
    height:0px;
    border-bottom:25px solid transparent;  /* izquierda flecha */
    border-top:25px solid transparent; /* derecha flecha */
    border-right:75px solid #FF0000; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
}

#esquina{
    position: absolute;
    top: 0px;
    left: 0px;
}
#rep{
    width:250px;
    margin:auto;
}

#controls{
    width:300px;
    position: fixed;
    left: 0;
    margin-left:10px;
    margin-top:10%;
}